html {
    font-size: 100%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #264653;

    h3{
        padding-left: 1rem;
        color: whitesmoke;
        font-weight: 200;
    }

    h4{
        padding-right: 1rem;
        font-weight: 200;
        color: #e9c46A;
    }
}



.flex {
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }
    &-jc-c {
        justify-content: center;
    }
    &-ai-c{
        align-items: center;

    }
}
//spacing
.container{
    max-width: 69.375rem;
    margin: 0 auto;

    &--pall {
        padding-top: 2.25rem;
        padding-right: 1.5rem;
        padding-bottom: 2.25rem;
        padding-left: 1.5rem;
    }
    &--py{
        padding-top: 2.25rem;
        padding-bottom: 2.25rem;
    }
    &--px{
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }
    &--pt{
        padding-top: 2.25rem;
    }
    &--pr{
        padding-right: 1.5rem;
    }
    &--pl{
        padding-left: 1.5rem;
    }
    &--pb{
        padding-bottom: 2.25rem;
    }
}

