.hero{
    margin-left: 1rem;
    margin-bottom: 10rem;
    position: relative;
    display: flex;
    
    p {
       // width: 50%;
        font-family: 'Roboto Slab', serif ;
        margin: 3rem auto;
        text-align: center;
        font-size: 18px;
        line-height: 1.5rem;
        
    }

}