.hero{
    max-width: 960px;
    margin: auto;
   // border: 1px solid red;
    margin-bottom: 5rem;
    position: relative;
    display: flex;
    
    p {
       // width: 50%;
        font-family: 'Roboto Slab', serif ;
        margin: 3rem auto;
        text-align: center;
        font-size: 1.5rem;
        line-height: 2.5rem;
        
    }

}