main {
    p{
        font-style: italic;
        font-weight: 200;
        
    }
}

.skills{
    flex-direction: column;

    a{
        text-decoration: none;
        margin-bottom: 3rem;
    }

    .card {
        
        box-shadow: 5px 5px 5px 5px rgba(184, 176, 176, 0.5);
        padding: 0.5rem;
        margin-bottom: 0.5rem;
        
        img {
            width: 100%;
            height: 10rem;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 0.3rem;
        }
        h2 {
            margin-top: 0.2rem;
            padding-bottom: 0.2rem;
            text-align: center;
            color: black;
        }

        p { 
            margin-top: 0.2rem;
            margin-bottom: 0.2rem;
            text-align: center;
            font-weight: 200;
            font-size: smaller;
        }
    }

    
    
}


