.memotest {
    
    text-align: center;
    
    h3{
        margin-top: 0;
        padding-top: 1rem;
        margin-bottom: 1rem;
        letter-spacing: 5px;
        }
}

#boardContainer {
    margin-top: 2%;
}

@keyframes shake {
    0%   {transform: rotate(20deg)}
  25%  {transform: rotate(-20deg)}
  50%  {transform: rotate(20deg)}
  100% {transform: rotate(-20deg)}
    
}

.expanded {
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem;
}
#boardSelection {
    padding: 0.5rem 1.5rem;
    margin-bottom: 0.5rem;
}
.board {
    display: inline-grid;
    text-align: center;
    
}
.board8{
    text-align: center;
    display: inline-grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
}

.board16{   
    text-align: center;
    display: inline-grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
}
.board30{
    text-align: center;
    display: inline-grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(6, 1fr);
    gap: 0.5rem;
    
}
.chipback {
    background: linear-gradient(gray, black);
    margin: 1%;
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 10px;
    img {
        height: 3.75rem;
        width: 3.75rem;
        border-radius: 10px;
        border: 1px solid black
    }
    
}
.chip{
    
    opacity: 0%;
}
.playing {
    opacity: 100%;
    animation: shake 0.05s;
    animation-iteration-count: 1;
}
#btn{
    padding: 0.5rem 2rem;
    background: none;
    border-radius: 5px;
    box-shadow: 0 0 15px 2px lightgray;
    margin-top: 2rem;
}


.winer {
    opacity: 100%;
    animation-name: test; 
    animation-duration: 0.1s;
    animation-iteration-count: 2;
}
.button{
    margin: 1rem auto;
    width: fit-content;
    border: 2px solid black;
    appearance: none;
    background-color: transparent;
    font-weight: 700;

}