html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans';
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  max-width: 960px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #264653;
  height: 1.5rem;
}

header h3 {
  padding-left: 1rem;
  color: whitesmoke;
  font-weight: 200;
  font-size: 13px;
}

header h4 {
  padding-right: 1rem;
  font-weight: 200;
  color: #e9c46A;
}

header button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  color: yellow;
  font-weight: 700;
}

p {
  font-family: 'Roboto Slab', serif;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  max-width: 69.375rem;
  margin: 0 auto;
}

.container--pall {
  padding-top: 2.25rem;
  padding-right: 1.5rem;
  padding-bottom: 2.25rem;
  padding-left: 1.5rem;
}

.container--py {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
}

.container--px {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.container--pt {
  padding-top: 2.25rem;
}

.container--pr {
  padding-right: 1.5rem;
}

.container--pl {
  padding-left: 1.5rem;
}

.container--pb {
  padding-bottom: 2.25rem;
}

.hidden {
  opacity: 0;
}

.invisible {
  visibility: hidden;
  display: none;
}

.rotate {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

#mapid {
  width: 400px;
  height: 400px;
}

.path {
  width: 70%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 0px 5px 5px lightgray;
          box-shadow: 0px 0px 5px 5px lightgray;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.card h4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  letter-spacing: 0.2rem;
}

.card p {
  margin: 1.5rem;
  line-height: 1.5;
  font-size: smaller;
}

.card img {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 5rem;
}

.memotest {
  text-align: center;
}

.memotest h3 {
  margin-top: 0;
  padding-top: 1rem;
  margin-bottom: 1rem;
  letter-spacing: 5px;
}

#boardContainer {
  margin-top: 2%;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  25% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  50% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  100% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  25% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  50% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  100% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
}

.expanded {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem;
}

#boardSelection {
  padding: 0.5rem 1.5rem;
  margin-bottom: 0.5rem;
}

.board {
  display: -ms-inline-grid;
  display: inline-grid;
  text-align: center;
}

.board8 {
  text-align: center;
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}

.board16 {
  text-align: center;
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}

.board30 {
  text-align: center;
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  gap: 0.5rem;
}

.chipback {
  background: -webkit-gradient(linear, left top, left bottom, from(gray), to(black));
  background: linear-gradient(gray, black);
  margin: 1%;
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 10px;
}

.chipback img {
  height: 3.75rem;
  width: 3.75rem;
  border-radius: 10px;
  border: 1px solid black;
}

.chip {
  opacity: 0%;
}

.playing {
  opacity: 100%;
  -webkit-animation: shake 0.05s;
          animation: shake 0.05s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

#btn {
  padding: 0.5rem 2rem;
  background: none;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 15px 2px lightgray;
          box-shadow: 0 0 15px 2px lightgray;
  margin-top: 2rem;
}

.winer {
  opacity: 100%;
  -webkit-animation-name: test;
          animation-name: test;
  -webkit-animation-duration: 0.1s;
          animation-duration: 0.1s;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
}

.tictactoe {
  text-align: center;
}

.tictac {
  text-align: center;
  display: -ms-inline-grid;
  display: inline-grid;
  height: 300px;
  -ms-grid-rows: 100px 100px 100px;
      grid-template-rows: 100px 100px 100px;
  -ms-grid-columns: 100px 100px 100px;
      grid-template-columns: 100px 100px 100px;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box {
  margin: 1%;
  background-color: red;
  font-size: x-large;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero {
  max-width: 960px;
  margin: auto;
  margin-bottom: 5rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero p {
  font-family: 'Roboto Slab', serif;
  margin: 3rem auto;
  text-align: center;
  font-size: 1.5rem;
  line-height: 2.5rem;
}
/*# sourceMappingURL=style.css.map */