html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #264653;
}

header h3 {
  padding-left: 1rem;
  color: whitesmoke;
  font-weight: 200;
}

header h4 {
  padding-right: 1rem;
  font-weight: 200;
  color: #e9c46A;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  max-width: 69.375rem;
  margin: 0 auto;
}

.container--pall {
  padding-top: 2.25rem;
  padding-right: 1.5rem;
  padding-bottom: 2.25rem;
  padding-left: 1.5rem;
}

.container--py {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
}

.container--px {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.container--pt {
  padding-top: 2.25rem;
}

.container--pr {
  padding-right: 1.5rem;
}

.container--pl {
  padding-left: 1.5rem;
}

.container--pb {
  padding-bottom: 2.25rem;
}

#memotest {
  text-align: center;
}

#boardContainer {
  margin-top: 2%;
}

.board {
  display: -ms-inline-grid;
  display: inline-grid;
  text-align: center;
  background-color: aliceblue;
  height: 200px;
  width: 200px;
}

.board8 {
  text-align: center;
  background-color: lightgray;
  display: -ms-inline-grid;
  display: inline-grid;
  height: 100px;
  -ms-grid-rows: 50px 50px 50px 50px;
      grid-template-rows: 50px 50px 50px 50px;
  -ms-grid-columns: 50px 50px 50px 50px;
      grid-template-columns: 50px 50px 50px 50px;
  grid-gap: 10px;
}

.board16 {
  text-align: center;
  background-color: lightgray;
  display: -ms-inline-grid;
  display: inline-grid;
  height: 200px;
  -ms-grid-rows: 50px 50px 50px 50px;
      grid-template-rows: 50px 50px 50px 50px;
  -ms-grid-columns: 50px 50px 50px 50px;
      grid-template-columns: 50px 50px 50px 50px;
}

.board30 {
  text-align: center;
  background-color: lightgray;
  display: -ms-inline-grid;
  display: inline-grid;
  height: 250px;
  -ms-grid-rows: 50px 50px 50px 50px 50px;
      grid-template-rows: 50px 50px 50px 50px 50px;
  -ms-grid-columns: 50px 50px 50px 50px 50px 50px;
      grid-template-columns: 50px 50px 50px 50px 50px 50px;
}

.chipback {
  background-color: black;
  margin: 1%;
}

.chip {
  margin: 5%;
  opacity: 0%;
}

.playing {
  opacity: 100%;
  -webkit-animation: shake 0.2s;
          animation: shake 0.2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

#btn {
  margin-top: 1%;
}

img {
  height: 40px;
  width: 40px;
}

.winer {
  opacity: 100%;
  -webkit-animation-name: test;
          animation-name: test;
  -webkit-animation-duration: 0.1s;
          animation-duration: 0.1s;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
}

main p {
  font-style: italic;
  font-weight: 200;
  text-align: center;
}

.skills {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.skills a {
  text-decoration: none;
  margin-bottom: 3rem;
}

.skills .card {
  -webkit-box-shadow: 5px 5px 5px 5px rgba(184, 176, 176, 0.5);
          box-shadow: 5px 5px 5px 5px rgba(184, 176, 176, 0.5);
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.skills .card .cardImage {
  width: 100%;
  height: 10rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5rem;
}

.skills .card h2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
  color: black;
}

.skills .card p {
  margin-top: 0.5rem;
  margin-bottom: 0.2rem;
  text-align: center;
  font-weight: 200;
  font-size: smaller;
}

.skills .hidden {
  opacity: 0;
}

.works {
  width: 80%;
  position: absolute;
  top: 3rem;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  z-index: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: blanchedalmond;
}

.works a {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0.75rem;
}

.works img {
  width: 4rem;
  height: 4rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.works h6 {
  text-align: center;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}
/*# sourceMappingURL=style.css.map */