html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #264653;
}

header h3 {
  padding-left: 1rem;
  color: whitesmoke;
  font-weight: 200;
}

header h4 {
  padding-right: 1rem;
  font-weight: 200;
  color: #e9c46A;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  max-width: 69.375rem;
  margin: 0 auto;
}

.container--pall {
  padding-top: 2.25rem;
  padding-right: 1.5rem;
  padding-bottom: 2.25rem;
  padding-left: 1.5rem;
}

.container--py {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
}

.container--px {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.container--pt {
  padding-top: 2.25rem;
}

.container--pr {
  padding-right: 1.5rem;
}

.container--pl {
  padding-left: 1.5rem;
}

.container--pb {
  padding-bottom: 2.25rem;
}

main p {
  font-style: italic;
  font-weight: 300;
  text-align: center;
  line-height: 1.3;
  margin-top: 0.5rem;
}

.overlay {
  background-color: grey;
  min-height: 100vh;
}

.skills {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card {
  display: block;
  -webkit-box-shadow: 5px 5px 5px 5px rgba(184, 176, 176, 0.5);
          box-shadow: 5px 5px 5px 5px rgba(184, 176, 176, 0.5);
  padding: 0.5rem;
  margin-bottom: 1.5rem;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.card h2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
  color: black;
}

.card p {
  margin: 1rem;
  line-height: 1.5;
  text-align: center;
  font-weight: 300;
  font-size: smaller;
}

.cardImage {
  width: 100%;
  height: 10rem;
  display: block;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5rem;
}

.works {
  width: 82.5%;
  position: absolute;
  top: 1rem;
  left: 1rem;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.works .worksGrid {
  position: relative;
  display: -ms-grid;
  display: grid;
  height: 18rem;
  left: -1rem;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: blanchedalmond;
}

.works .worksGrid .workGridItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.works .worksGrid .workGridItem h3 {
  margin: 0.2rem;
}

.works .worksGrid a {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0.75rem;
}

.works .worksGrid .workImage {
  width: 4rem;
  height: 4rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.works .worksGrid h6 {
  text-align: center;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.works .worksGrid .arrow {
  margin-top: 4rem;
}

.arrow {
  font-size: large;
  text-align: center;
  background-color: black;
  border-radius: 1rem;
  color: white;
  width: 10%;
  margin-left: 80%;
  margin-bottom: 1rem;
  -webkit-box-shadow: 2px 2px 1px 2px rgba(184, 176, 176, 0.5);
          box-shadow: 2px 2px 1px 2px rgba(184, 176, 176, 0.5);
}

.hidden {
  opacity: 0;
}

.invisible {
  visibility: hidden;
  display: none;
}

.rotate {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.magnify img {
  -webkit-transform: translate(3rem, 3rem) scale(2.7);
          transform: translate(3rem, 3rem) scale(2.7);
}

.memotest {
  text-align: center;
}

.memotest h3 {
  margin-top: 0;
  padding-top: 1rem;
  margin-bottom: 1rem;
}

#boardContainer {
  margin-top: 2%;
}

.expanded {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem;
}

#boardSelection {
  margin-bottom: 0.5rem;
}

.board {
  display: -ms-inline-grid;
  display: inline-grid;
  text-align: center;
}

.board8 {
  text-align: center;
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}

.board16 {
  text-align: center;
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}

.board30 {
  text-align: center;
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  gap: 0.5rem;
}

.chipback {
  background-color: black;
  margin: 1%;
  width: 1.75rem;
  height: 1.75rem;
}

.chipback img {
  height: 1.75rem;
  width: 1.75rem;
}

.chip {
  margin: 5%;
  opacity: 0%;
}

.playing {
  opacity: 100%;
  -webkit-animation: shake 0.2s;
          animation: shake 0.2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

#btn {
  margin-top: 1rem;
}

.winer {
  opacity: 100%;
  -webkit-animation-name: test;
          animation-name: test;
  -webkit-animation-duration: 0.1s;
          animation-duration: 0.1s;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
}

.tictactoe {
  text-align: center;
}

.tictac {
  text-align: center;
  display: -ms-inline-grid;
  display: inline-grid;
  height: 300px;
  -ms-grid-rows: 100px 100px 100px;
      grid-template-rows: 100px 100px 100px;
  -ms-grid-columns: 100px 100px 100px;
      grid-template-columns: 100px 100px 100px;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box {
  margin: 1%;
  background-color: red;
  font-size: x-large;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=style.css.map */