html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans';
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1.5rem;
  border-bottom: gray;
}

header h3 {
  padding-left: 1rem;
  font-size: 13px;
}

header h4 {
  padding-right: 1rem;
  font-weight: 200;
  color: #e9c46A;
}

header button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  font-weight: 700;
}

p {
  font-family: 'Roboto Slab', serif;
}

footer {
  margin-top: 2rem;
}

footer p {
  text-align: center;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  max-width: 69.375rem;
  margin: 0 auto;
}

.container--pall {
  padding-top: 2.25rem;
  padding-right: 1.5rem;
  padding-bottom: 2.25rem;
  padding-left: 1.5rem;
}

.container--py {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
}

.container--px {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.container--pt {
  padding-top: 2.25rem;
}

.container--pr {
  padding-right: 1.5rem;
}

.container--pl {
  padding-left: 1.5rem;
}

.container--pb {
  padding-bottom: 2.25rem;
}

.hidden {
  opacity: 0;
}

.invisible {
  visibility: hidden;
  display: none;
}

.rotate {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

#mapid {
  width: 400px;
  height: 400px;
}

.memotest {
  text-align: center;
}

.memotest h3 {
  margin-top: 0;
  padding-top: 1rem;
  margin-bottom: 1rem;
  letter-spacing: 5px;
}

#boardContainer {
  margin-top: 2%;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  25% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  50% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  100% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  25% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  50% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  100% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
}

.expanded {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem;
}

#boardSelection {
  padding: 0.5rem 1.5rem;
  margin-bottom: 0.5rem;
}

.board {
  display: -ms-inline-grid;
  display: inline-grid;
  text-align: center;
}

.board8 {
  text-align: center;
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}

.board16 {
  text-align: center;
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}

.board30 {
  text-align: center;
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  gap: 0.5rem;
}

.chipback {
  background: -webkit-gradient(linear, left top, left bottom, from(gray), to(black));
  background: linear-gradient(gray, black);
  margin: 1%;
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 10px;
}

.chipback img {
  height: 3.75rem;
  width: 3.75rem;
  border-radius: 10px;
  border: 1px solid black;
}

.chip {
  opacity: 0%;
}

.playing {
  opacity: 100%;
  -webkit-animation: shake 0.05s;
          animation: shake 0.05s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

#btn {
  padding: 0.5rem 2rem;
  background: none;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 15px 2px lightgray;
          box-shadow: 0 0 15px 2px lightgray;
  margin-top: 2rem;
}

.winer {
  opacity: 100%;
  -webkit-animation-name: test;
          animation-name: test;
  -webkit-animation-duration: 0.1s;
          animation-duration: 0.1s;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
}

.button {
  margin: 1rem auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 2px solid black;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  font-weight: 700;
}

.tictactoe {
  text-align: center;
}

.tictac {
  text-align: center;
  display: -ms-inline-grid;
  display: inline-grid;
  height: 300px;
  -ms-grid-rows: 100px 100px 100px;
      grid-template-rows: 100px 100px 100px;
  -ms-grid-columns: 100px 100px 100px;
      grid-template-columns: 100px 100px 100px;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box {
  margin: 1%;
  background-color: red;
  font-size: x-large;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button {
  margin: 1rem auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 2px solid black;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  font-weight: 700;
}

.hero {
  margin-bottom: 2rem;
  position: relative;
}

.hero h1 {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 5%;
  left: 0;
  right: 0;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-size: 1.1rem;
  color: white;
  text-shadow: 1px 1px 2px black;
  letter-spacing: 0.1rem;
  max-width: 80%;
}

.hero h2 {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 10%;
  text-align: center;
  color: white;
  font-family: 'Roboto Slab', serif;
  font-size: 0.9rem;
  text-shadow: 1px 1px 2px black;
}

.heroImage img {
  max-width: 100%;
  max-height: 100%;
}

.path {
  margin: auto;
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media (min-width: 40em) {
  .path {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 64em) {
  .path {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 0px 5px 5px lightgray;
          box-shadow: 0px 0px 5px 5px lightgray;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.card h4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  letter-spacing: 0.2rem;
}

.card p {
  margin: 2.5rem;
  line-height: 1.5;
  font-size: smaller;
}

.card img {
  margin-top: 3.5rem;
  margin-bottom: 1rem;
  width: 7rem;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

#wrapper {
  margin-left: 1rem;
  margin-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1024px;
  margin: auto;
}

main {
  max-width: 1024px;
  margin: auto;
  padding: 2rem;
}

.infotext {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-weight: lighter;
  font-size: small;
}

.title {
  display: -ms-grid;
  display: grid;
  font-family: 'Amatic SC', cursive;
  margin-bottom: 2rem;
  justify-items: center;
}

.week {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.5fr (1fr)[7];
      grid-template-columns: 0.5fr repeat(7, 1fr);
  -ms-grid-rows: 25px 50px 50px;
      grid-template-rows: 25px 50px 50px;
  row-gap: 0.5rem;
  -webkit-column-gap: 0.5rem;
          column-gap: 0.5rem;
}

.item {
  position: relative;
  font-family: 'Amatic SC', cursive;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.3rem;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 1rem;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menuitem {
  max-width: 20%;
  min-height: 2rem;
  display: -ms-grid;
  display: grid;
  place-content: center;
  font-family: 'Amatic SC', cursive;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.3rem;
  cursor: move;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  overflow: hidden;
}

.menuitem .dishTitle {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  letter-spacing: 0.05em;
}

.menuitem img {
  height: 10rem;
}

.newDishBtn {
  margin: auto;
  margin-top: 2rem;
  margin-left: 45%;
  max-width: 8rem;
  min-height: 3rem;
  position: relative;
  font-family: 'Amatic SC', cursive;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.3rem;
  cursor: move;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  overflow: hidden;
}

.dishControls {
  -ms-grid-column-align: center;
      justify-self: center;
}

.dishControls button {
  border: none;
}

.selected {
  background-color: lightcyan;
}

.ingredients {
  background-color: blanchedalmond;
  margin: 5px;
  min-height: 2em;
}

.ingredientsList {
  visibility: hidden;
  margin-left: 1em;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: smaller;
  position: relative;
  background-color: #f1f1f1;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

#shoppingList {
  background-color: whitesmoke;
  min-height: 100px;
  margin: 0.5em;
}

.newDishBtn {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 2em;
}

.addDishes {
  display: none;
  max-width: 20rem;
  max-height: 30rem;
  background-color: cornsilk;
  margin: 1em;
  position: relative;
}

.visible {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 2rem;
  z-index: 1;
  border-radius: 0.4rem;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.visible input {
  font-family: 'Amatic SC', cursive;
  letter-spacing: 1px;
  border-radius: 0.5rem;
  padding: 0.2rem;
  border: hidden;
}

.visible button {
  border: hidden;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.visible * {
  margin-top: 0.3rem;
  margin-bottom: 0.2rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  font-size: small;
}

.visible a {
  border: 1px, solid, black;
  text-decoration: none;
  border-radius: 1em;
}

.close {
  border: 1px, solid, black;
  margin-left: 95%;
}

#shoppingListContainer {
  padding: 0.5rem;
  margin-top: 2rem;
  margin-left: 20%;
  margin-right: 20%;
  background-color: ivory;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-size: smaller;
}
/*# sourceMappingURL=style.css.map */